@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}

html, body{	
	font-family: Poppins, sans-serif;
	background-color: #0A0A0B;
	margin: 0;
	color: rgba(255, 255, 255, 0.9);
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	position: relative;
	z-index: -99;
	background-color: red;
}

main,
.header {
	padding: 0 10vw;
}

.header {
	height: 6rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.burger {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 1.8rem;
	height: 1.5rem;	
}

.line {
	background-color: rgba(255, 255, 255, 0.9);
	width: 100%;
	height: .2em;

}

.navbar {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 15%;
	position: absolute;
		top: 0;
		right: 0;
		z-index: 1;
	transform: translateX(100%);
	width: 60%;
	background-color: #0A0A0B;
	opacity: 0;
	transition: all 200ms ease;
}

.navbar a {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.62);
	position: relative;
}

.navbar a:last-child {
  flex-shrink: 0;
}

.navbar .main-link {
	color: #FFFFFF;
}

.navbar a:hover::after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	width: 100%;
	height: .2em;
	background-color: rgba(255, 255, 255, 0.62);
}

.navbar a:last-child::after {
	background-color: #246FFF;
}

.navbar .main-link::after {
	background-color: #FFFFFF !important;
}

.navbar .x {
	position: absolute;
		top: 0;
		right: 0;
	margin: 2rem 1.8rem;
	z-index: 2;
	filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(334deg) brightness(80%) contrast(90%);
	max-height: 1.4rem;
	opacity: 0;
	transform: translateX(100%);
	transition: all 300ms ease 200ms;
}

/* end of the default setup
	unique per page values start here */

/*section 1*/

.s1 {
	margin-top: 0.3em;
	padding-bottom: 3rem;
	min-height: 88vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.s1 h1 {
	text-align: center;
	font-size: 1.9rem;
	margin: 0;
}

.s1 p {
	text-align: center;
	font-size: 1.1rem;
	color: rgba(255, 255, 255, 0.58);
	margin: 1em 0 2em 0;
}

.main-image {
	max-height: 11rem;
}

.buttons {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.4rem;
	width: 85%;
	margin-top: 3.5rem;
}

.buttons a {
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: rgba(255, 255, 255, 0.9);
	font-size: 1rem;
	padding: 0.9em 0 0.9em 0;
	border-radius: 1rem;
	width: 100%;
	text-align: center;
	background-color: #246FFF;
}

.buttons a:last-child {
	background-color: transparent;
	border: 1px solid rgba(255, 255, 255, 0.9);
}

.button-icon {
	max-height: 1.25em;
	margin-left: 0.5em;
}


/* section 2 */

.page {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 3rem 0 0 0;
	min-height: 8in;
}

.page-image {
	max-width: 70%;
	margin-bottom: 1rem;
}

.page h2 {
	font-size: 2rem;
	margin: 0.5em;
}

.page p {
	color: rgba(255, 255, 255, 0.5);
	max-width: 90%;
	margin: 0;
}

.read-more {
	text-decoration: none;
	color: #FFFFFF;
	background-color: #246FFF;
	padding: 1em 2em;
	border-radius: 1rem;
	margin: 2rem 0 4rem 0;
}

.page:last-of-type .arrow {
	transform: rotate(180deg);
}



.footer {
	margin-top: 2rem;
	min-height: 10rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer h2 {
	font-size: 1.2rem;
	text-align: center;
}


/*script and utility classes*/

.nav-active,
.x-active {
	transform: translateX(0%) !important;
	opacity: 1 !important;
}

.mobile-hidden {
	display: none;
}

@media only screen and (min-width: 750px) {

	
	/*navbar*/
	.x,
	.burger {
		display: none;
	}

	.header {
		height: 7rem;
	}
	.navbar {
		position: relative;
		height: 100%;
		transform: translateX(0%);
		flex-direction: row;
		justify-content: space-between;
		width: 35%;
		opacity: 1;
		transition: initial;
	}

	.navbar a {
		height: 100%;
		display: flex;
		align-items: center;
	}

	/*section 1*/

	.s1 {
		margin-top: 2rem;
		display: grid;
		grid-template-columns: 60% auto;
		grid-template-rows: repeat(3, max-content);
	}

	.s1 h1 {
		font-size: 2.5rem;
		max-width: 20ch;
		justify-self: center;
	}

	.s1 p {
		font-size: 1.4rem;
		max-width: 30ch;
		justify-self: center;
	} 

	.main-image {
		grid-row: 1 / 4;
		grid-column: 2 / 3;
		justify-self: end;
		max-height: 20rem;
	}

	.buttons {
		margin: 0;
		max-width: 3in;
		justify-self: center;
	}

	.buttons a {
		font-size: 1.2rem;
	}
}

@media only screen and (min-width: 1150px) {

	.s1 {
		grid-template-columns: 65% auto;
	}

	.s1 h1,
	.s1 p {
		justify-self: start;
		text-align: left;
	}

	.s1 h1 {
		font-size: 3rem;
	}

	.s1 p {
		font-size: 1.7rem;
		max-width: 100%;
	}

	.buttons {
		gap: 2rem;
		justify-self: start;
		max-width: 100%;
		justify-content: space-between;
		align-items: flex-start;
	}

	.buttons a {
		font-size: 1.3rem;
		width: 3.5in;
	}

	.buttons a:first-child {
		border: 1px solid #246FFF;
	}

	.buttons a:last-child {
		border: none;
		outline: 1px solid rgba(255, 255, 255, 0.9);
	}
}

@media only screen and (min-width: 1400px) {

	.mobile-hidden {
		display: inline;
	}

	.s1 {
		margin-top: 4rem;
		grid-template-columns: 50% auto;
	}

	.main-image {
		max-height: 100%;
	}

	.s1 h1 {
		font-size: 4.5rem;
		max-width: 100%;
	}

	.s1 p {
		margin-top: 2em;
		margin-bottom: 3em;
	}

	.buttons {
		width: 100%;
		gap: 3rem;
		flex-direction: row;
	}

	.buttons a {
		border-radius: 1.5rem;
		font-size: 1.6rem;
	}
}
